APP_PORT=3000
APP_ENV=development

DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=ganti_dengan_password_postgres
DB_NAME=siakad_mini

JWT_SECRET=ganti-dengan-secret-acak-minimal-32-karakter
JWT_EXPIRES_HOURS=24